---
---

<!DOCTYPE html>
<html lang=en>
<head>
 <meta charset="UTF-8">
 <meta name="viewport"
       content="width=device-width, initial-scale=1.0">
  <title>ENG1 Project</title>
</head>
<body>

<navbar>
 <h1>ENG1 Project</h1>
 <nav>
  <ul>
   <li><a href="/ENG1-Project/">Home</a></li>
   <li><a href="/ENG1-Project/snapshots">Snapshots</a>
   <li><a href="/ENG1-Project/architecture">Architecture</a></li>
  </ul>
 </nav>
</navbar>
  
{{content}}
 
<style>
 nav ul {
  display : flex;
  list-style : none;
 }
 nav ul li {
  margin-right: 10px;
 }
 </style>
  
</body>
</html>
